.container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #faf;
  padding: 0 50px;
  margin: 20px 50px;
  border-radius: 30px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .logo {
    font-size: 25px;
    font-weight: bold;
  }
  .container {
    height: 60px;
    padding: 0 50px;
    margin: 20px 30px;
    border-radius: 25px;
  }
}
